<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <title>68Food Component Category</title>
  </head>
  <body>
    <div clas="overflow-x-hidden">
      <div
        class="snap-x mx-auto snap-mandatory h-auto flex gap-2 w-full overflow-scroll"
      >
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 1)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/stir-fried.png"
            />
          </div>
          <p class="text-[10px] pt-1">Combo</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 2)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/fish.png"
            />
          </div>
          <p class="text-[10px] pt-1">Cá</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 3)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/meat.png"
            />
          </div>
          <p class="text-[10px] pt-1">Thịt</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 4)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/soup.png"
            />
          </div>
          <p class="text-[10px] pt-1">Canh</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 5)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/stir-fried.png"
            />
          </div>
          <p class="text-[10px] pt-1">Xào</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 6)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/drink.png"
            />
          </div>
          <p class="text-[10px] pt-1">Nước</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 6)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/drink.png"
            />
          </div>
          <p class="text-[10px] pt-1">Nước</p>
        </div>
        <div
          class="snap-start w-[15%] flex-shrink-0 flex flex-col items-center justify-center"
        >
          <div
            class="w-full aspect-square bg-color-bg-gray-light rounded-[10px] flex justify-center items-center p-2 cursor-pointer"
            onclick="changeColor(this, 6)"
          >
            <img
              class="w-full aspect-square"
              src="/assets/img/mobile/category/drink.png"
            />
          </div>
          <p class="text-[10px] pt-1">Nước</p>
        </div>
      </div>
    </div>
  </body>
  <script>
    let selectedDiv = null;

    function changeColor(clickedElement, divNumber) {
      // Kiểm tra xem selectedDiv đã được chọn trước đó hay không
      if (selectedDiv !== null) {
        // Xóa màu nền của thẻ div trước đó
        selectedDiv.classList.remove("bg-color-blue");
      }

      // Thêm màu nền cho thẻ div được chọn
      clickedElement.classList.add("bg-color-blue");

      // Cập nhật selectedDiv
      selectedDiv = clickedElement;
    }
  </script>
</html>
