<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <title>68Food Component Header</title>
  </head>
  <body>
    <div class="flex justify-between p-4 bg-[#FFFFFF]">
      <button id="openModalBtn" class="w-1/5 flex items-center">
        <img
          class="h-2/5 cursor-pointer"
          src="/assets/img/mobile/hamburger-menu.png"
        />
      </button>
      <div class="w-full flex justify-center items-center">
        <p class="text-[20px]">
          Đặt món cho <span class="font-bold text-color-success">Bàn 2</span>
        </p>
      </div>
      <a
        href="/src/pages/table-detail.html"
        class="w-1/5 flex justify-center items-center"
      >
        <img class="h-3/5 cursor-pointer" src="/assets/img/mobile/cart.png" />
      </a>
    </div>
  </body>
</html>
