<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/src/input.css" />
    <title>Danh sách sản phẩm</title>
  </head>
  <body>
    <div class="grid grid-cols-2 gap-2 px-4 pt-2 pb-4">
      <div
        class="card-item bg-white rounded-2xl shadow-lg shadow-gray-300 px-2 py-4 flex flex-col justify-between"
      >
        <div class="image flex justify-center">
          <img
            src="/assets/img/mobile/food/combo/2people.jpg"
            alt="Hình ảnh"
            class="rounded-full w-full aspect-square p-2 object-cover"
          />
        </div>
        <div class="content text-[16px]">
          <div class="display-name text-center mt-1">
            <p class="font-semibold">Combo 2 người</p>
          </div>
          <div class="price text-center mt-1">
            <p class="text-color-warning">
              199,000 <span class="text-color-warning">VND</span>
            </p>
          </div>
          <div class="status text-center">
            <p class="text-color-green text-[14px]">sẵn sàng</p>
          </div>
        </div>
        <div class="btn flex justify-center mt-2">
          <button
            class="bg-color-success text-white rounded-full px-6 py-2 text-[16px]"
          >
            Thêm
          </button>
        </div>
      </div>
      <div
        class="card-item bg-white rounded-2xl shadow-lg shadow-gray-300 px-2 py-4 flex flex-col justify-between"
      >
        <div class="image flex justify-center">
          <img
            src="/assets/img/mobile/food/combo/3people.jpg"
            alt="Hình ảnh"
            class="rounded-full w-full aspect-square p-2 object-cover"
          />
        </div>
        <div class="content text-[16px]">
          <div class="display-name text-center mt-1">
            <p class="font-semibold">Combo 3 người</p>
          </div>
          <div class="price text-center mt-1">
            <p class="text-color-warning">
              349,000 <span class="text-color-warning">VND</span>
            </p>
          </div>
          <div class="status text-center">
            <p class="text-color-green text-[14px]">sẵn sàng</p>
          </div>
        </div>
        <div class="btn flex justify-center mt-2">
          <button
            class="bg-color-success text-white rounded-full px-6 py-2 text-[16px]"
          >
            Thêm
          </button>
        </div>
      </div>
      <div
        class="card-item bg-white rounded-2xl shadow-lg shadow-gray-300 px-2 py-4 flex flex-col justify-between"
      >
        <div class="image flex justify-center">
          <img
            src="/assets/img/mobile/food/combo/4people.jpg"
            alt="Hình ảnh"
            class="rounded-full w-full aspect-square p-2 object-cover"
          />
        </div>
        <div class="content text-[16px]">
          <div class="display-name text-center mt-1">
            <p class="font-semibold">Combo 4 người</p>
          </div>
          <div class="price text-center mt-1">
            <p class="text-color-warning">
              499,000 <span class="text-color-warning">VND</span>
            </p>
          </div>
          <div class="status text-center">
            <p class="text-color-green text-[14px]">sẵn sàng</p>
          </div>
        </div>
        <div class="btn flex justify-center mt-2">
          <button
            class="bg-color-success text-white rounded-full px-6 py-2 text-[16px]"
          >
            Thêm
          </button>
        </div>
      </div>
      <div
        class="card-item bg-white rounded-2xl shadow-lg shadow-gray-300 px-2 py-4 flex flex-col justify-between"
      >
        <div class="image flex justify-center">
          <img
            src="/assets/img/mobile/food/combo/5people.jpg"
            alt="Hình ảnh"
            class="rounded-full w-full aspect-square p-2 object-cover"
          />
        </div>
        <div class="content text-[16px]">
          <div class="display-name text-center mt-1">
            <p class="font-semibold">Combo 5 người</p>
          </div>
          <div class="price text-center mt-1">
            <p class="text-color-warning">
              549,000 <span class="text-color-warning">VND</span>
            </p>
          </div>
          <div class="status text-center">
            <p class="text-color-green text-[14px]">sẵn sàng</p>
          </div>
        </div>
        <div class="btn flex justify-center mt-2">
          <button
            class="bg-color-success text-white rounded-full px-6 py-2 text-[16px]"
          >
            Thêm
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
