<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <link href="/src/css/order.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Đơn hàng</title>
</head>

<body>
    <button id="open-btn" class="text-color-warning text-[19px]">
        <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <div id="overlay" class="overlay blur-overlay" style="display: none;"></div>
    <div id="menu-selected-dish" style="display: none;"
        class="flex flex-col w-4/5 ml-auto bg-color-white p-3 font-roboto">
        <div class="menu-header w-full flex justify-between items-center text-color-text">
            <button id="btn-close" class="icon-x text-[20px]">
                <i class="fa-solid fa-x"></i>
            </button>
            <p class="font-bold text-[16px]">Danh sách món được đặt</p>
        </div>
        <div class="menu-item flex flex-col w-full items-center justify-center gap-2 p-4">
            <div class="flex flex-col mb-2">
                <div class="w-full flex gap-4 mb-2">
                    <img class="w-1/3 rounded-2xl aspect-square object-cover" src="/assets/images/comga.jpg" alt="" />
                    <div class="w-full flex flex-col gap-2">
                        <p>Cơm gà</p>
                        <p>25,000 VND</p>
                        <div class="w-full flex justify-between">
                            <div class="flex w-full flex-row gap-4">
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="decrementQuantity(this)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <p id="quantity">1</p>
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="incrementQuantity(this)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <button class="btn-del text-color-success text-[20px]" onclick="confirmRemoveItem(this)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <input class="border-2 rounded-md h-10 p-2" type="text" placeholder="Nhập ghi chú..." />
            </div>

            <div class="flex flex-col mb-2">
                <div class="w-full flex gap-4 mb-2">
                    <img class="w-1/3 rounded-2xl aspect-square object-cover" src="/assets/images/comtron.jpg" alt="" />
                    <div class="w-full flex flex-col gap-2">
                        <p>Cơm trộn</p>
                        <p>25,000 VND</p>
                        <div class="w-full flex justify-between">
                            <div class="flex w-full flex-row gap-4">
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="decrementQuantity(this)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <p id="quantity">1</p>
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="incrementQuantity(this)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <button class="btn-del text-color-success text-[20px]" onclick="confirmRemoveItem(this)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <input class="border-2 rounded-md h-10 p-2" type="text" placeholder="Nhập ghi chú..." />
            </div>

            <div class="flex flex-col mb-2">
                <div class="w-full flex gap-4 mb-2">
                    <img class="w-1/3 rounded-2xl aspect-square object-cover" src="/assets/images/soup.jpg" alt="" />
                    <div class="w-full flex flex-col gap-2">
                        <p>Soup</p>
                        <p>25,000 VND</p>
                        <div class="w-full flex justify-between">
                            <div class="flex w-full flex-row gap-4">
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="decrementQuantity(this)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <p id="quantity">1</p>
                                <button class="bg-color-warning px-3 text-[12px] as text-white rounded-md" onclick="incrementQuantity(this)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <button class="btn-del text-color-success text-[20px]" onclick="confirmRemoveItem(this)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <input class="border-2 rounded-md h-10 p-2" type="text" placeholder="Nhập ghi chú..." />
            </div>
        </div>
        <div class="flex flex-row justify-between p-4">
            <p class="text-[20px] text-color">Tổng cộng:</p> 
            <p class="text-[20px] font-bold text-color-success">75,000 VND</p>
        </div>
        <div class="flex flex-col p-4">
            <p>Ghi chú:</p>
            <textarea rows="4" placeholder="Nhập nội dung..." class="p-4 border-2 mt-2 rounded-md"></textarea>
        </div>
        <div class="btn p-4">
            <button class="bg-color-success text-color-white w-full p-3 rounded-lg font-bold mb-2">
                Đặt món
            </button>
            <button class="border-2 w-full p-3 rounded-lg font-bold" id="btnHuy">
                Hủy
            </button>
        </div>
    </div>
    <script src="/assets/js/order.js"></script>
</body>

</html>