<!doctype html>
<html lang="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/src/output.css" rel="stylesheet">
	<title>Tab & search Page 60Food</title>
</head>
<body>
<div class="mx-auto border rounded w-80">

	<div class="flex text-center h-10 font-bold">
		<button id="btn1" class="w-2/4  border-r border-b-red-800 border-b-4 text-black">
			Món chính
		</button>

		<button id="btn2" class="w-2/4  border bg-gray-300 text-white">
			Món ăn kèm
		</button>
	</div>
    <div id="content1" class="flex justify-center items-center gap-3 h-20">
	    <input type="text" class="rounded-lg text-xs border outline-0 text-left pl-4 h-3/5 w-2/3 shadow-inner shadow-gray-500/50" placeholder="Nhập tên món ăn">
	    <button class="bg-red-800 rounded-full w-16  h-8 text-white">Tìm</button>
    </div>
	<div id="content2" class="hidden h-20 flex justify-center items-center gap-3">
		<input type="text" class="rounded-lg text-xs border outline-0 text-left pl-4 h-3/5 w-2/3 shadow-inner shadow-gray-500/50" placeholder="Nhập tên món ăn">
		<button class="bg-red-800 rounded-full w-16  h-8 text-white">Tìm</button>
	</div>
</div>
<script src="tab-search.js"></script>
</div>
</body>
</html>